* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

#new-btn, #reset-btn, .press, .how {
  padding: 1rem;
  font-size: 1.25rem;
  background-color:rgb(75, 3, 75);
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#reset-btn {
 background-color:  rgb(75, 3, 75);
  display: block;
  margin: auto;
  width: 190px;
  font-size: 1rem;
}

#reset-btn:hover, .press:hover, .how:hover {
  background-color: rgb(216, 62, 216);
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  position: absolute;
  height: 70vh;
  width: 50vw;
  translate: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  background: rgb(156, 72, 156);
  backdrop-filter: blur(40px);
  border: 4px solid rgb(5, 0, 5);
  border-radius: 39px;
  transition:1s ease ;
}
.rulespromt{
  position:relative;
}
.left{
  position: absolute;
  bottom:60px;
  left:70px;
  padding: 20px;
  width:150px;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: azure;
  border-radius: 10px;
}
.right{
  position: absolute;
  bottom:60px;
  right:70px;
  padding: 20px;
  width:150px;
  border-radius: 10px;
  font-size: medium;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: azure;
}
.container {
  margin: 5px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.b1,.b2,.b3 {
  background-color: white;
  height: 85px;
  width: 80px;
  margin:1.5px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}

.t {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  height: 320px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

main {
  margin: 40px;
  margin-top: 5px;
}

nav {
  color: #fdfdfd;
  background-color: rgb(75, 3, 75);
  padding: 20px 0;
}

.press {
  margin-top: 5vh;
  font-size: 5vmin;
  width: 40vw;
  height: 12vh;
  border-radius: 80vh;
}

h1 {
  font-size: 6vmin;
}

h4 {
  font-size: 3vmin;
}

.tut {
  text-align: left;
  border: solid white;
  background-color: rgb(211, 108, 194);
  color: black;
  font-size: 150%;
  z-index: 10;
  padding: 1rem;
}

.rules {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.how {
  height: 60%;
  width: 35vw;
  border-radius: 60px;
  color: #fff;
  font-size: medium;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: rgb(75, 3, 75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: fixed;
  background-color: rgb(47, 7, 39);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  pointer-events: none;
  
}

.overlayactive{
  opacity: 1;
  pointer-events: initial;
}
.hide1,.hide2,.hide3,.hide4{
  display: none;
}
